*{
    position: absolute;
    box-sizing: border-box;
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    min-width: 100%;
    position: relative;
}
body{
    margin: 0;
    padding: 0; 
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
}
header{
    background-color: aquamarine;
    width: 100%;
    height: 20%;
    display: block;
    position: relative;
}
main{
    background-color: crimson;
    width: 100%;
    height: 60%;
    display: block;
    position: relative;
}
footer{
    background-color: violet;
    width: 100%;
    height: 20%;
    display: block;
    position: relative;
}
h1{
    margin: auto;
    padding: 20px 0;
    width: fit-content;
    height: fit-content;
    position: relative;
}
h2{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: auto;
    color: turquoise;
}