*{
    box-sizing: border-box;
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    min-width: 100%;
    position: relative;
    overflow: auto;
}
body{
    margin: 0;
    padding: 0; 
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: relative;
}
header{
    background-color: #050505;
    width: 100%;
    height: 70px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
}
main{
    background-color: #050505;
    width: 100%;
    /* height: auto; */
    display: block;
    overflow: auto;
    position: relative;
}
footer{
    background-color: violet;
    width: 100%;
    height: 100px;
    display: block;
    position: relative;
}
h1{
    margin: auto;
    padding: 20px 0;
    width: fit-content;
    height: fit-content;
    position: relative;
}
h2{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: auto;
}
nav{
    width: 650px;
    height: 25px;
    position: relative;
    display: inline-flex;
    align-self: center;
    justify-content: flex-end;
}
.headerContainer{
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.headerLink{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Fredericka the Great', cursive, 'Roboto';
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    color: #fff;
}
.headerLink:hover{
    text-decoration: none;
    color: rgb(45, 90, 60);
    background-color: orange;
    border-radius: 15px;
}
.logo{
    display: inline-flex;
    justify-self: center;
    align-self: center;
    position: relative;
    width: 200px;
    height: 40px;
}
.subheader{
    display: block;
    font-size: 35px;
    width: 90%;
    margin: 20px auto;
    position: relative;
    font-family: 'Fredericka the Great', cursive, 'Roboto';
    color: #fff;
}
.link{
    color: #fff;
}
.link:hover{
    text-decoration: none;
    color: rgb(45, 90, 60);
}

#heroImage{
    width: 100%;
    height: 500px;
    position: relative;
    display:block;
    object-fit: cover;
}
#movieDataGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 100%;
    overflow: auto;
    position: relative;
    margin: 20px auto 40px auto;
}
.thumbnail{
    position: relative;
    display: flex;
    width: 220px;
    height: 330px;
    align-self: center;
    justify-self: center;
    margin: 10px 0;
}
.thumbnail-image{
    border-radius: 20px;
    cursor: pointer;
}